.item {
    margin: 5px 0px;
    position: relative;
  }
  
  .content {
    text-align: left;
    overflow: auto;
    padding: 1em 0;
  }

  .content h3 {
    font-size: 1rem;
    text-align: left;
    color: black;
    position: absolute;
    padding: 0 1em;
    inline-size: 60%;
    overflow-wrap: break-word;
  }
  
  .count {
    text-align: right;
    padding: 1rem;
  }

  .button {
    height: 25px;
    width: 40px;
    border-radius: 5px;
    border: 1px;
    margin: 0px 8px;
    color: black;
    background-color: #e0e0e0;
  }